@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Montserrat&family=Playfair+Display&family=Raleway&family=Roboto&display=swap');

/* font-family: 'Gravitas One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

h1 {
    font-family: 'Gravitas One', cursive;
}

h2 {
    font-family: 'Playfair Display', serif;
}

h3, label {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif; 
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
    width: auto;
    text-align: center;
    font-size: 0.3rem;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    color: white;

}

/* Choose your mood button */
.emojibutton {
    background-color: rgb(104, 115, 211);
    padding: 5px 24px;
    width: 50px;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: #2B2B2B;
    background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #0E0E0E;
    box-shadow: 2px 2px 3px #888;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;   
    color: white;
    
}

.emojibutton1 {
    background-color: rgb(104, 115, 211);
    padding: 5px 24px;
    width: 50px;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
     
}
.emojibutton:hover {
    background: black; 
}

/* this turns the drop down off when not in use */
.emoji-dropdown-box {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    margin-left: -25px;
}

/* this turns the drop down on when in use */
.emojibutton:hover .emoji-dropdown-box {
    display: block;
}
.emojibutton1:hover .emoji-dropdown-box {
    display: block;
}

/* change colour of dropdown menu items */
.emoji-dropdown-box .emojibutton {
   background-color: aquamarine; 
   box-shadow: 0 0 50px rgba(0, 0, 0, .3);
}
.emoji-dropdown-box .emojibutton1 {
    background-color: aquamarine; 
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
 }

/* change colour of dropdown menu items when hovered over*/
.emoji-dropdown-box .emojibutton:hover {
    background-color: rgb(23, 22, 109);
    transition-duration: 500ms;
    transform: skewX(-25deg) scale(1.3);
 }

 .emoji-dropdown-box .emojibutton1:hover {
    background-color: pink;
    transition-duration: 500ms;
 }